<h1><%= @category.name %></h1>
<p class="lead"><%= @category.description %></p>

<%= link_to "â† Back to Home", root_path, class: "btn btn-secondary mb-4" %>

<div class="row">
  <%= render partial: 'products/product_card', collection: @products, as: :product %>
</div>